* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  color: #4c4e61;
  font-family: Poppins, sans-serif;
}

header,
main {
  width: 311px;
  margin: auto;
}

header {
  margin-bottom: 74px;
  margin-top: 40px;
}

header h1 {
  font-size: 2.4rem;
  font-weight: 100;
}

header h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

header h1,
header h2 {
  margin-bottom: 20px;
}
header h1,
header h2,
header p {
  text-align: center;
}

p {
  color: hsl(229, 6%, 66%);
  font-size: 1.5rem;
  line-height: 26px;
}

.card {
  background-color: #ffffff;
  box-shadow: hsla(234, 12%, 34%, 0.05) 0px 20px 20px;
  border-radius: 7px;
  margin-bottom: 30px;
  padding: 25px;
}

.card .img-container {
  display: flex;
  justify-content: flex-end;
}

.card h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 2rem;
}

.card p {
  margin-bottom: 20px;
  font-size: 1.3rem;
  line-height: 22px;
}

.supervisor {
  border-top: 4px solid #45d3d3;
}

.team-builder {
  border-top: 4px solid #ea5353;
}

.karma {
  border-top: 4px solid #fcaf4a;
}

.calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
}

@media screen and (min-width: 1000px) {
  main {
    width: 90vw;
  }
  header {
    width: 50vw;
    margin-bottom: 0px;
    padding-top: 40px;
  }
  header h1,
  header h2 {
    font-size: 3.6rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
  }

  .card {
    margin: 0px 30px;
    width: 300px;
  }
  .inner .card {
    margin: 30px 0px;
  }
  .card p {
    height: 60px;
  }
}
